body {
    margin: 0;
    padding: 0;
    background-color: rgb(197, 197, 197);
    color: rgb(0, 102, 255);
}

.titulo {
    margin-top: -20px;
    padding: 10px 0 1px 0;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(180, 180, 180);
}

.validador {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    display: flex;
    border: solid rgb(0, 102, 255) 3px;
    border-radius: 15px;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.conteudo {
    margin-top: 20px;
}

button {
    width: 90px;
    height: 30px;
    font-size: 16px;
    border-radius: 5px;
    border: solid 1px black;
}

button:hover {
    background-color: rgba(0, 102, 255, 0.651);
    color: rgb(183, 212, 255);
    border: solid 1px black;
    border-radius: 5px;
    font-weight: bold;
}